{% extends "base.html" %}
  

{% block title %} YOLOTalk Management{% endblock %}


{% block style %}
<style>
    /*    ______________ 字體設定 ______________   */
    h1,h2,h3,h4,h5,h6{
        font-family: 'Noto Sans TC', sans-serif;
        color: rgb(116 109 109);
    }

    p,a,input,label,textarea,span,ul,li{
        font-family: 'Open Sans TC', sans-serif;
    }
    /*    ______________ 照片設定  不要爆掉 ______________   */
    img{
        max-width: 100%;
    }
    /*    ______________ 按鈕設定 ______________   */
    .btn{
        background-color: #b1d3f5;
        color: rgb(116 109 109);
        font-size: 20px;
        margin-top: -3px;
        text-align: right;
    }

    /*    ______________ 大看板上的選單 ______________   */
    nav img{
        width: 200px;
    }
    header li{
        margin: 0 15px;
        font-weight: bold;
        font-size: 22px;
    }
    .dropdown-item {
        font-weight: bold;
        font-size: 18px;
    }
    /*    ______________ 大看板 ______________   */
    #intro .jumbotron{
        height:84vh;
        padding: 50px 500px; 
    }#intro .container-md {
        position: relative;     
        top: 20%;
        transform: translateY(-50%);
        padding-top: 10px ;
        padding-bottom: 1px ;
        display: none;
        border-style: solid;
        border-color: rgb(116, 109, 109);
        border-radius: 20px;
        border-width: 5px;
        background-color: #b1d3f5;
    }
</style>
{% endblock %}


{% block intro %}       
<section id="intro">
    <div class="jumbotron" >   
        <table id="table"  class="table table-dark" data-url="static/camera_info.json" data-height="299">
            <thead>
              <tr>
                <th scope="col" data-field="fence">Fence</th>
                <th scope="col" data-field="Group">Group</th>
                <th scope="col" data-field="Alarm Level">Alarm Level</th>
                <th scope="col" data-field="Note">Note</th>
                <th scope="col" data-field="Sensitivity">Sensitivity</th>
                <th scope="col" data-field="Edit">Edit</th>
              </tr>
            </thead>
            <tbody >
                {% for item in items %}
                    {% for key in item.fence.keys() %}
                <tr>
                    <td id="{{item.alias}} {{key}}_Name" style="font-size:20px">{{item.alias}}  ( {{key}} )</td>
                    <td class="group" id="{{item.alias}} {{key}}_Group" style="font-size:20px">{{item.fence[key].Group}}  </td>
                    <td id="{{item.alias}} {{key}}_Alarm_Level" style="font-size:20px">{{item.fence[key].Alarm_Level}}  </td>
                    <td id="{{item.alias}} {{key}}_Note" style="font-size:20px">{{item.fence[key].Note}}  </td>
                    <td id="{{item.alias}} {{key}}_Sensitivity" style="font-size:20px">{{item.fence[key].Sensitivity}}  </td>
                    <td>
                        <img src="static\edit.png " id="{{item.alias}} {{key}}" onclick="edit_Modal(this)" height="50px"></img>
                        <img src="static\del.png "  id="{{item.alias}} {{key}}" onclick="del_Modal(this)"  height="50px"></img>
                    </td>
                </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table> 
    </div>
</section>
{% endblock %}


{% block script %}
<script>
    
    var group_set = new Set()
    var del_id = ""
    
    $(document).ready(function(){

        // Nav 導向畫圖頁面
        $("a#replot_fence").click(function(){
            fence = this.text
            FormName = "Form_"+fence
            document.getElementById(FormName).submit()
        });


        $("button#SaveName").click(function (){
            var GroupName = $('input#GroupName').val();
            var selection   = document.getElementById('select-group')
            check(selection, GroupName)      
        });


        $("button#Add_Group_Btn").click(function (){
            var title = document.getElementById('exampleModal')
        });
    });

    // 確認 Group 不重複function
    function check(selection, Name){

        var group = document.getElementsByClassName('group')
        
        for (i=0; i<group.length; i++ ){
            console.log('i = ' + i)  
            if (group_set.has(group[i].innerText)){}
            else{         
                group_set.add(group[i].innerText)
                $("select#select-group").append(" <option >"+ group[i].innerText + "</option>"); 
            }
        }

        if (group_set.has(Name)){}
        else{
            group_set.add(Name)
            $("select#select-group").append(" <option >"+ Name + "</option>"); 
        }
    }
    //  編輯資訊欄 得到 Fence Name並寫入 modal title
    function edit_Modal(fencename) {
        var Modal = document.getElementById('Edit_Modal_title')
        Modal.innerText = "Edit : " + fencename.id
        $('#Edit_Modal').modal() 
        console.log(fencename.id)
        var Name        = document.getElementById(fencename.id+'_Name')
        var Group       = document.getElementById(fencename.id+'_Group')
        var Sensitivity = document.getElementById(fencename.id+'_Sensitivity')
        var Place       = document.getElementById(fencename.id+'_Place')
        var Note        = document.getElementById(fencename.id+'_Note')
        var Alarm_Level = document.getElementById(fencename.id+'_Alarm_Level')
        
        var selection   = document.getElementById('select-group')
        check(selection,Group.innerText)
        $('input#message-text-Place').attr("value",fencename.id.split(' ')[1])
        $('input#message-text-Sensitivity').attr("value",Sensitivity.innerText)
        $('input#message-text-Notes').attr("value",Note.innerText)
    }
    function del_Modal(fencename) {
        var text = document.getElementById('text')
        del_id = String(fencename.id)
        text.innerText = "Do you really want to delete : " + fencename.id + " ? "
        $('#Del_fence_Modal').modal() 
    }
    function edit_confirm() {
        
        var Name        = document.getElementById('Edit_Modal_title')
        var Group       = document.getElementById('select-group')
        var Alarm_Level = document.getElementById('select-Alarm_Level')
        var Note        = document.getElementById('message-text-Notes')
        var Sensitivity = document.getElementById('message-text-Sensitivity')

        $.post("http://panettone.iottalk.tw:10328/management",   // url
            {   "URL":"Edit",
                "alias": Name.innerText.split(" ")[2],
                "FenceName":Name.innerText.split(" ")[3], 
                "Group": Group.value,
                "Alarm_Level": Alarm_Level.value,
                "Note": Note.value,
                "Sensitivity": Sensitivity.value,
            });
        setTimeout(function(){
            location.reload()
        },500);
        
    };
    function del_confirm(){

        alert(del_id)
        $.post("http://panettone.iottalk.tw:10328/management",   // url
            {   "URL":"Delete",
                "alias": del_id.split(" ")[0],
                "FenceName":del_id.split(" ")[1], 
            });
        // $('#Del_fence_Modal').modal() 
        setTimeout(function(){
            location.reload()
        },500);
    }
    

</script>
{% endblock %}