<html>
    <title>Plot Region</title>
    <head>        
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

<body>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="AddFence" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Fence</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form id="Fence" method="POST">
                        <div class="modal-body">
                            <div class="row justify-content-center" >
                                <div class="col-5"> 
                                    <h4>Fence Name:</h4>
                                </div>
                                <div class="col-7">
                                    <input id="FenceName" type="text" class="form-control"  aria-label="With textarea" required></input>    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row justify-content-end">
                                <div class="col-6">
                                    <input type="button" id="Delete" value="Delete" class="btn btn-primary" data-dismiss="modal" >
                                </div>
                                <div class="col-6">
                                    <input type="submit" id="Save" value="Save"  class="btn btn-primary" data-dismiss="modal" >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <canvas id="canvas" width="{{shape[1]}}" height="{{shape[0]}}" style="background-image:url( ' {{data}} ' ) ;background-size: cover; background-position: center; "> 
    </canvas>
    
</body>
<script>

    // 新增畫布
    var can = document.getElementById('canvas');
    var ctx = can.getContext('2d');
    // 區域名稱 list
    var FenceNameList = [];
    // 初始位置
    var all_point_x_y = [];
    var point_x_y = [];
    var point_x   = [];
    var point_y   = [];
    var DeleteNumber = 0;
    mouse_times = 0;    // 滑鼠點擊次數
    box_number = 0;     // 警戒範圍數量
    drawing = false;    // 暫停繪製線條功能

    $(document).ready(function(){ Reload() });      // 重新叫出JSON 判斷是否原先有格子，並予以上色

    $("canvas").mousemove(function(e){
        if(!drawing) return;
        else {
            var x = e.pageX ;
            var y = e.pageY ;
            Move(point_x[mouse_times-1],x,point_y[mouse_times-1],y,point_x,point_y)
            //判斷是否已經有bounding box ，有的話要重新上色
            if (box_number > 0){
                for (let i = 1; i <= box_number; i++) {
                    length = all_point_x_y[i-1].length
                    for (let j = 3; j <= length; j+=2){ //將繪製過的區域保持線條上色
                        ctx.beginPath();
                        ctx.strokeStyle = "purple";
                        ctx.globalAlpha = 1 ;
                        ctx.moveTo(all_point_x_y[i-1][j-1],all_point_x_y[i-1][j]);
                        ctx.lineTo(all_point_x_y[i-1][j-3],all_point_x_y[i-1][j-2]);
                        ctx.closePath();
                        ctx.stroke();   
                    }
                    AddFenceName(FenceNameList[i-1], all_point_x_y[i-1][0], all_point_x_y[i-1][1]) // 將繪製過的區域加上名字
                    Fill(all_point_x_y[i-1])   // 將繪製過的區域保持上色
                };        
            };
        };
    });
    $("canvas").mousedown(function(e){
        drawing = true ;    // 點擊後，開始繪製線條功能
        var x = e.pageX ;
        var y = e.pageY ;
        point_x.push(x);    // 暫存的X
        point_y.push(y);    // 暫存的Y
        point_x_y.push(x);  
        point_x_y.push(y);  
        console.log(x +','+y +" This is point" + mouse_times );
        mouse_times +=1 ;

        // 判斷是否點到已畫設的區塊內
        if (box_number > 0){
            for (let i = 1; i <= box_number; i++) {                     // 用外面這個迴圈找到所有box的點、長度/
                length = all_point_x_y[i-1].length;                     // 再一個一個判斷是否在框內
                Polygon = [];                                           // 找到多邊形 [ [x1, y1], [x2,y2], ... ]
                for (let j = 1; j <= length; j+=2){                         
                    p = [ all_point_x_y[i-1][j-1], all_point_x_y[i-1][j] ]; // 找到多邊形的點 [x1, y1]
                    Polygon.push(p);                                        
                }
                if(Isinside([x,y], Polygon)){                             // Return (True or False)
                    $('#AddFence').modal();                               // 跳出視窗  編輯圍籬名字或刪除
                    console.log("Polygon:",Polygon)
                    DeleteNumber = i;
                    break;
                };         
            }; 
        };

        if (mouse_times >2){
            for (let i = 1; i < mouse_times; i++) { 
                dx  = Math.abs(point_x[mouse_times-1] - point_x[i-1]);
                dy  = Math.abs(point_y[mouse_times-1] - point_y[i-1]);
                dis = Math.sqrt(Math.pow(dx,2) + Math.pow(dy,2));
                if ( dis <= 30 ){
                    //判定與第一點相同
                    point_x_y[point_x_y.length-2] = point_x_y[0]; // x
                    point_x_y[point_x_y.length-1] = point_x_y[1]; // y
                    Fill(point_x_y);
                    $('#AddFence').modal()                  // 跳出視窗  顯示新增圍籬名字
                    all_point_x_y.push(point_x_y);          // 將暫存的位置丟入存檔區
                    console.log(all_point_x_y)
                    point_x_y=[];   // 更新劃設的box 數量,將暫存的陣列清空
                    point_x = [];
                    point_y = [];
                    mouse_times = 0;
                    box_number += 1;
                }
            }
        }
    });         
    
    $("input#Delete").click(function (){
        console.log("DeleteNumber:",DeleteNumber);
        console.log("need to delete all_point_x_y:",all_point_x_y[DeleteNumber-1])
        Del_FenceName = FenceNameList[DeleteNumber-1]
        console.log("need to delete Fence Name:",Del_FenceName);

        all_point_x_y.splice(DeleteNumber-1,1);
        FenceNameList.splice(DeleteNumber-1,1);

        box_number -= 1;

        point_x_y=[];
        point_x = [];                                           // 把剛剛的點刪掉
        point_y = [];                                           // 把剛剛的點刪掉        
        mouse_times=0;                                          // 重新開始

 
        $.post("http://panettone.iottalk.tw:10328/plotarea",   // url  重要  必須要改
            { "vertex"   : "DELETE",
              "alias":"{{name}}",
              "FenceName": Del_FenceName},
              function(data, status, jqXHR) {// success callback
		        alert('status : ' + status + ',\nFenceName : ' + JSON.stringify(Del_FenceName) + " is been deleted");
			});


    });

    $("input#Save").click(function (){
        var FenceName = $('#FenceName').val();
        var vertex = JSON.stringify(all_point_x_y[box_number-1]);
        FenceNameList.push(FenceName)
        $.post("http://panettone.iottalk.tw:10328/plotarea",   // url  重要  必須要改
            { "vertex"   : vertex,
              "alias":"{{name}}",
              "FenceName": FenceName},

              function(data, status, jqXHR) {// success callback
		        alert('status: ' + status + ',\nFenceName: ' + FenceName+"\npoint:"+vertex);
			});
    });




    //畫圖開始
    function Move(x1,x2,y1,y2,point_x,point_y){

        ctx.globalAlpha = 1;
        ctx.fillStyle = "red";
        ctx.lineWidth = 5;
        ctx.beginPath();
        //移動滑鼠的線條
        ctx.moveTo(x1,y1);
        ctx.lineTo(x2,y2);
        ctx.clearRect(0, 0, canvas.width,canvas.height);
        length = point_x.length
        for (let i = 1; i < length; i++) { 
            ctx.moveTo(point_x[i],point_y[i]);
            ctx.lineTo(point_x[i-1],point_y[i-1]);
        };
        ctx.closePath();
        ctx.stroke();
    }
    function Fill(point_x_y){
        ctx.globalAlpha = 0.5;
        ctx.fillStyle = "pink";
        // ctx.lineWidth = 5;
        ctx.beginPath();
        ctx.moveTo(point_x_y[0],point_x_y[1]);
        for (let i = 2; i <= point_x_y.length; i+=2) {
            ctx.lineTo(point_x_y[i],point_x_y[i+1]);
        };
        ctx.fill();
        ctx.closePath();
    }
    function AddFenceName(text,x1,y1){
        ctx.font = "30px Comic Sans MS";
        ctx.fillStyle = "white";
        ctx.textAlign = "center";
        ctx.fillText(text, x1+15, y1-30);
    }
    function Isinside(point, vs) {
        // ray-casting algorithm based on

        var x = point[0], y = point[1];
        var inside = false;

        for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {
            var xi = vs[i][0], yi = vs[i][1];
            var xj = vs[j][0], yj = vs[j][1];
            
            var intersect = ((yi > y) != (yj > y))
                && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
            if (intersect) inside = !inside;
        }
        
        return inside;
    };

    function Reload(){
        
        $.getJSON("../static/Json_Info/camera_info_{{name}}.json",function(result){
            $.each(result['fence'], function(i, field){
            var vertex = result['fence'][i]['vertex'];
            console.log(i,vertex);
            length = vertex.length;

            var subvertex = vertex.substr(1,length-2).split(',');
            for (let i=0; i<subvertex.length; i++ ){
                point_x_y.push( parseInt(subvertex[i]) );
            };

            all_point_x_y.push(point_x_y);          // 將暫存的位置丟入存檔區       
            console.log(all_point_x_y);
            FenceNameList.push(i);
            box_number += 1;       
            point_x_y = [];
            });
            for (let i = 1; i <= box_number; i++) {
                length = all_point_x_y[i-1].length;
                for (let j = 3; j <= length; j+=2){ //將繪製過的區域保持線條上色
                    ctx.beginPath();
                    ctx.strokeStyle = "purple";
                    ctx.lineWidth = 5;
                    ctx.globalAlpha = 1;
                    ctx.moveTo(all_point_x_y[i-1][j-1],all_point_x_y[i-1][j]);
                    ctx.lineTo(all_point_x_y[i-1][j-3],all_point_x_y[i-1][j-2]);
                    ctx.closePath();
                    ctx.stroke();   
                }
                AddFenceName(FenceNameList[i-1], all_point_x_y[i-1][0], all_point_x_y[i-1][1]); // 將繪製過的區域加上名字

                Fill(all_point_x_y[i-1]);   // 將繪製過的區域保持上色
            };
        });
    }
</script>
</html>


